.App {
  text-align: center;
}
.Introduction {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.Introduction-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}

.SideBar {
  height: 100%; 
  width: 200px; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: rgb(56, 56, 56);
  overflow-x: hidden;
  padding-top: 20px;
}

.SideBar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

.SideBar a:hover {
  color: red;
}

.About-text {
  text-align: left;
  padding-left: 15%;
}